@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
}
#store{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

  .card {
    margin: 10px;
  }
}

#navs{
  position: sticky; 
  top: 0; 
  z-index: 1;
}
