@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap";

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900



body {
  background-color: #2aa19791;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 300; // Default weight for the body
  font-style: normal;
}

.source-code-pro-vocab {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#store{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

}
.card {
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  .btn-radius{
    border-radius: 50%;
  }
}

#filter-nav{
  display: flex;
  justify-content: space-evenly;
}
#navs{
  position: sticky; 
  top: 0; 
  z-index: 1;
}

#search-div{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.login-btn{
  margin-top:20%;
  width:200px;
  height:50px;
  font-weight: bolder;
}

.search-box {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 0;
  margin-right: 10px;
}

.search-box:hover > .search-text {
  width: 200px; /* Increase the width of the input field */
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: #2aa19791;
  color: #F5F5F1;
}

.search-btn {
  color: #e84118;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

.search-btn > i {
  font-size: 20px; /* Adjust the size of the search icon */
}

.search-text {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  padding: 0;
}
